{% extends 'base.html' %}
{% block title %}Gallery : Palashbaria Secondary School{% endblock %}
{% block content %}
<h1 class="text-center">Gallery</h1>
<div class="gallery-grid">
  {% for idx, item in enumerate(gallery_items) %}
    <a href="{{ url_for('gallery_detail', idx=idx) }}" class="gallery-link">
      <div class="gallery-card">
        <img
          src="{{ url_for('static', filename='images/gallery/' + item.images[0]) }}"
          alt="{{ item.title }}"
          class="gallery-img">
        <h3 style="text-align: center;">{{ item.title }}</h3>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}
