{% extends 'base.html' %}
{% block title %}{{ item.title }} : Palashbaria Secondary School{% endblock %}
{% block content %}
<div class="detail-container">
  <div style=" font-size: large; background-color: rgba(212, 231, 195, 0.872); test-align: center; padding: 10px; border-radius: 5px;">
    <h2 >{{ item.title }}</h2>
  </div>
  <br>
  <p style="font-size: large;">{{ item.description }}</p>

  <div class="image-grid">
    {% for img in item.images %}
      <div class="img-card">
        <img
          src="{{ url_for('static', filename='images/gallery/' + img) }}"
          alt="Gallery"
          class="detail-img"
          onclick="openLightbox('{{ url_for('static', filename='images/gallery/' + img) }}')">
      </div>
    {% endfor %}
  </div>

  <!-- Lightbox modal -->
  <div id="lightbox" onclick="closeLightbox()">
    <span class="close">&times;</span>
    <img id="lightbox-img" class="lightbox-content">
  </div>
</div>
<p><a href="{{ url_for('gallery') }}" class="btn">← Back to Gallery</a></p>
{% endblock %}
