{% extends 'base.html' %}
{% block title %}Home : Bonogram Secondary School{% endblock %}
{% block content %}

<div class="hot-news">
    <p class="news-label">Latest News</p>
    <div class="scroll-container">
    <div class="scroll-text"> {{text}} </div>
  </div>
</div>
<!-- Hero Section -->
<div class="home-hero">
  <div class="hero-content  text-center">
    <!-- Logo -->
    <!-- Welcome Heading -->
    <h1 class="hero-title animate-fade-in" style="color: rgb(29, 1, 1);">বনগ্রাম কিষাণ মজদুর সম্মিলিত মাধ্যমিক বিদ্যালয়ে স্বাগতম</h1>
    <!-- Tagline -->
    <p class="hero-subtitle animate-fade-in delay-1" style="color: rgb(9, 45, 9);">
      "যেখানে শিক্ষা বিকশিত হয়, ভবিষ্যৎ তৈরি হয়"
    </p>

    <!-- Action Button -->
    <a class="btn btn-warning btn-lg mt-4 animate-bounce delay-2"
       href="{{ url_for('news') }}" role="button">
      সংবাদ দেখুন&nbsp;<i class="bi bi-arrow-right-circle"></i>
    </a>
  </div>
</div>

<!-- About Section -->
<div class="container">
  <div class="glass-card about-section">
    <h2 class="page-heading">আমাদের সম্পর্কে</h2>
    <p>
      "বনগ্রাম কিষান মজদুর সম্মিলিত মাধ্যমিক বিদ্যালয়" মাগুরা জেলার মহম্মদপুর উপজেলায় অবস্থিত একটি মাধ্যমিক বিদ্যালয়।..........
    </p>
  </div>
</div>

{% endblock %}
