{% extends 'base.html' %}
{% block title %}News : Palashbaria Secondary School{% endblock %}
{% block content %}
  <h1>All News</h1>
    <div class="news-grid glass-card" style="background-color: rgba(200, 249, 225, 0.712);">
      {% for news in news_items %}
          <a href="{{ url_for('news_detail', idx=loop.index0) }}">

          <h3 style="color: black;">{{ news.title }}</h3>
          <!-- Optionally an image if you have one in news.json -->
          <small>{{ news.timestamp[:10] }}</small>
        </a>
      {% else %}
        <p>No news yet.</p>
      {% endfor %}
    </div>


    
  <!-- {% for item in news_items %}
    <div class="news-card">
      <h3>{{ item.title }}</h3>
      <div class="meta">Posted on {{ item.timestamp[:10] }}{% if item.edited %} (edited) {% endif %}</div>
      <p>{{ item.description }}</p>
    </div>
  {% else %}
    <p>No news available.</p>
  {% endfor %} -->
{% endblock %}