{% extends 'base.html' %}
{% block title %}Manage News : Bongram Secondary School{% endblock %}
{% block content %}
<div class="admin-container">
  <div class="admin-form">
    <!-- form content -->
     <h2>Manage News</h2>
  <form method="post">
    <div class="form-group">
      <label>Password:</label>
      <input type="password" name="password" required>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" name="title" >
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea name="description" rows="4" ></textarea>
    </div>
    <div class="form-group">
      <label>Position:</label>
      <input type="number" name="sl" placeholder="Enter position where you want to add/delete" required> 
    </div>
    <div class="form-actions">
      {% if last %}
        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete </button>
      {% endif %}
      <button type="submit" name="action" value="post" class="btn btn-primary">Post </button>
      {%if last|length > 1 %}
        <button type="submit" name="action" value="swap" class="btn btn-danger">Swap</button>
      {% endif %}
    </div>
    <br>
    <div class="form-group">
      {%if last|length > 1 %}
        <span>
          <input type="number" name="idx1" placeholder="swap position 1"> 
        <input type="number" name="idx2" placeholder="swap position 2"> 
        </span>
      {% endif %}
    </div>
  </form>
  </div>
  <div class="admin-news glass-card">
    <h1>All News</h1>
    <div class="news-grid glass-card">
      {% for news in last %}
        <a href="{{ url_for('news_detail', idx=loop.index0) }}">
          <h3>{{ news.title }}</h3>
          <small>{{ news.timestamp[:10] }}</small>
          <h3 style="color: black; text-align: center;">Position : {{ loop.index }}</h3>
        </a>
      {% else %}
        <p>No news yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
