{% extends 'base.html' %}
{% block title %}{{ student.name }} : Bonogram Secondary School{% endblock %}
{% block content %}

<!-- About Section -->
<div class="container" style="padding: 1.5rem; margin-bottom: 1.5rem; border-radius: 1rem; 
         box-shadow: 0 4px 12px rgba(70, 3, 3, 0.413); background-color: rgba(231, 186, 123, 0.258);">
  <div class="about-section">
    <h2 class="page-heading" style="color: black;">{{ student.title }}</h2>
    <p style="color: black;">
      {{ student.description }}
    </p>
  </div>
</div>
<div class="detail-card" style="padding: 1.5rem; margin-bottom: 1.5rem; border-radius: 1rem; 
         box-shadow: 0 4px 12px rgba(70, 3, 3, 0.413); background-color: rgba(218, 198, 169, 0.258); background-blend-mode: darken;">
    <div class="image-grid">
      <div class="img-card">
        <img src="{{ url_for('static', filename='images/students/' + student.filename) }}" alt="{{ student.name }}" onclick="openLightbox('{{ url_for('static', filename='images/students/' + student.filename) }}')">
      </div>
  </div>
  
</div>
</div>

<a href="{{ url_for('students') }}">← Back to Students</a>
  <!-- Lightbox modal -->
  <div id="lightbox" onclick="closeLightbox()">
    <span class="close">&times;</span>
    <img id="lightbox-img" class="lightbox-content">
  </div>
</div>

{% endblock %}